
.section_login02{
  .content{
    margin: 5rem 0 12rem;
    padding: 1rem 1rem;
    // min-height: 42vh;
    background-color: #d69d4750;
    border-radius: 1rem;
    h1{
      text-align: center;
      text-shadow: 3px 3px 3px #ccc;
      margin-bottom: 3rem;
    }
    .item{
      margin: 1rem 0;
    }
    .btn-item{
      text-align: end;
      margin: 2rem 0 1rem;
    }
  }
}

